/Code
/dconf
/google-chrome
/gtk-3.0
/pulse
/qBittorrent
/simple-update-notifier
/teamviewer
/Thunar
/xfce4
/yay
/mimeapps.list
/swaylock
/nvim
/menus

/hypr
/desmume
/create-next-app-nodejs
/balena-etcher
/nextjs-nodejs
/ppsspp
/refine-update-notifier-nodejs
/sao-nodejs